<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Списък с продукти</title>
</head>
<body>
<h2>Списък с продукти</h2>

<table border="1">
    <thead>
    <tr>
        <th>Име</th>
        <th>Категория</th>
        <th>Количество</th>
        <th>Цена на доставка</th>
        <th>Срок на годност</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.deliveryPrice} + ' лв.'"></td>
        <td>
            <span th:if="${product.hasExpirationDate}" th:text="${#temporals.format(product.expirationDate, 'dd.MM.yyyy')}"></span>
            <span th:unless="${product.hasExpirationDate}">-</span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
